services:
  app:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./src:/app/src
    env_file:
      - .env

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
  
  db:
    image: mongo
    restart: always
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example

  create_shipment_worker:
    build: .
    command: celery -A src.infrastructure.worker.create_shipment_worker worker --loglevel=info
    volumes:
      - ./src:/app/src
    env_file:
      - .env
