services:
  app:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./src:/app/src
    env_file:
      - .env

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  create_shipment_worker:
    build: .
    command: celery -A src.infrastructure.worker.create_shipment_worker worker --loglevel=info
    volumes:
      - ./src:/app/src
    env_file:
      - .env
