version: '3.8'

services:
  app:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./src:/app/src
    env_file:
      - .env
    depends_on:
- worker

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  worker:
    build: .
    command: celery -A src.worker worker -l info
    volumes:
      - ./src:/app/src
    env_file:
      - .env
    depends_on:
      - app
      - redis



volumes:
